@font-face {
    font-family: Banny;
    src: url('../fonts/Banny-BoldRound.otf');
}

* {
    margin: 0;padding: 0;box-sizing: border-box;
}

html 
{ /*font-family: Banny ;*/
    font-family: "Open Sans", sans-serif;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
  
}

.header {
    z-index: 9999;
    position: relative;
}
.nav-item {
    width: 133px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-logo {
    margin-top: 25px;
    margin-right:35px;
    margin-left: 35px;
}

.section {
    /*max-width: 1280px;
    width: 100%;*/
    margin: auto;
    padding-top: 173px;
    
}
.block {
    
    display: flex;
    justify-content: space-evenly;
    text-align:center;
  
   }

.section--promo {
    position: relative;
    margin-top: -180px; 
    padding-top: 350px;
    padding-bottom: 187px;
    background: url('../img/fish.png') no-repeat center / cover;
    color: #FFFFFF; 
    z-index: 2;
}


.section--promo::before {
    position: absolute;
    top: 0;
    left: 0;
    content: ""; 
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
   }

.block__text {
    position: relative;
    max-width: 60px;
    width: 100%;

}

.promotext {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-orientation: mixed;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    left: 100px;
    
/* or 100% */

text-align: center;

color: #FFFFFF;
 
}
.promo__main {
    position: relative;
    max-width: 956px; 
    width: 100%;
    height: 147px;
    position: relative;
}
.section__subtitle {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
    
    
}
.promo__title {
    font-size: 96px;
    text-transform: uppercase;
    /*margin-bottom: 25px;*/
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 100px;
     
}
.button {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    padding-top: 21px;
    padding-bottom: 21px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.button__promo { 
    padding-left: 60px;
    padding-right: 60px;  
}

.button--primary{
    background: #E8C300;  
   
}
.button-secondary {
    margin-left: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    
    border-radius: 5px;
}
.link--down {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: -10px;
    left: 50%;
    bottom: -280px;
    background: #FFFFFF url('../img/erdown.svg') no-repeat center;
    border-radius: 50%;
}
.link--down::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -25%;
    left: -25%;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;

}
.social__buttons {
    display:flex;
    flex-direction:column;
    position: relative;
    
}
.social__link {
    width: 60px;
    height: 60px;
  пше  border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-bottom: 20px;
}
.face {
    background: url("../img/fc.svg") no-repeat center;
}
.twit {
    background: url("../img/tvt.svg") no-repeat center;
}
.inst {
    background: url("../img/int.svg") no-repeat center;

    margin-bottom: 0;
}
.title {
    position: relative;
    font-family: Banny;
}
.title::before {
    content: "";
    position: absolute;
    bottom: -35px;
    left:50% ;
    width: 60px;
    height: 5px;
    background: #E8C300;
    border-radius: 50px;
    margin-left: -30px;
    
}
.buttons {
    margin-bottom: 58px;
}
/*втораяя страница*/
.section--about_us {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section__text {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
}
.block__img {
    position: relative;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: start;
}
.block__img::after {
   content: "";
   border: 20px solid #E8C300;
   width: 210px;
   height: 210px;
   position: absolute;
   top: 50%;
    right: 0;
    margin-top: -125px;
    
}
.section__title {
    font-size: 36px;
    text-transform: uppercase;
}
.block__text--subtitle {
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
}
.block__text--desc {
    margin-top: 20px;
    line-height: 14px;
    margin-top: 24px;
}

.section--MASTER_CHEF{
    background: url("../img/specialty\'s-bg\ \(3\).png") no-repeat center / cover;
    margin-top: -54px; 
}


.OUR__TEAM{
    padding-top: 54px;
    margin-left: 47%;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    margin-top: 47px;
    margin-bottom: 47px;
    
}
.img__chif {
    position: relative;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.img__chif::after {
    content: "";
    border: 20px solid #E8C300;
    width: 210px;
    height: 210px;
    position: absolute;
    top: 50%;
    right: 350px;
    margin-top: -125px;
     
 }
 .lite {
     color: #FFFFFF;
 }


